<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person List</title>
</head>
<body>
<h1>Person List</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Can buy alcohol?</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${personAlcoholStatus}">
        <td th:text="${entry.key.name}"></td>
        <td th:text="${entry.key.age}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>